{{ define "content" }}
  <a href="/admin/collections/new" class="btn btn-primary">New collection</a>
  <ul>
  {{ range .collections }}
    <li>
      <a href="/admin/collections/{{ .Slug }}">{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
{{ end }}
