
{{ define "content" }}
  <h2>
    {{ .collection.Name }}
  </h2>

  <div class="columns">

    <div class="column col-12">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">
            Upload Photos
          </div>
        </div>
        <div class="panel-body">
          <form action="/admin/collections/{{ .collection.Slug }}/photos" method="POST" class="dropzone" enctype="multipart/form-data">
          </form>
        </div>
        <div class="panel-footer">
          Click or drag photos to upload
        </div>
      </div>
    </div>

  </div>

  <div class="columns">

      {{ $collection := .collection }}
      {{ range .recentPhotos }}
        <div class="column col-6 col-xs-12">
          <div class="card">
            {{ if .Renditions.NotEmpty }}
              {{ $smallest := .Renditions.Smallest }}
              <div class="card-image">
                <a href="/admin/collections/{{ $collection.Slug }}/photos/{{ .ID }}">
                  <img src="/admin/collections/{{ $collection.Slug }}/photos/renditions/{{ $smallest.ID }}" class="img-responsive" />
                </a>
              </div>
              <div class="card-body">
                <i class="icon icon-time"></i>
                {{ humanizeTime $smallest.UpdatedAt }}
                <i class="icon icon-apps"></i>
                <span title="Renditions">{{ .RenditionCount }}<span>
              </div>
            {{ else }}
              No thumbnail yet
            {{ end }}
          </div> <!-- card -->
        </div> <!-- column -->
      {{ end }}
  </div>

{{ end }}
