{{ define "content" }}
<section>
  <header>
    <h2>
      {{ .collection.Name }}
    </h2>
  </header>
</section>

<section>
  <div class="columns">
    <div class="column col-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Collection
          </div>
        </div>
        <div class="card-body">
          <p>
            <a href="/admin/collections/{{ .collection.Slug }}/photos">
              <span class="badge" data-badge="{{ .collection.PhotoCount }}">
                Photos
              </span>
            </a>
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Create Album</button>
        </div>
      </div>
    </div>

    <div class="column col-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Add Photos
          </div>
        </div>
        <div class="card-body">
          <form action="/admin/collections/{{ .collection.Slug }}/photos" method="POST" class="dropzone" enctype="multipart/form-data">
          </form>
        </div>
        <div class="card-footer">
          Click or drag photos to upload
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <header>
    <h3>
      Recent Photos
    </h3>
  </header>
  <div class="section">
    <div class="columns">
      {{ $collection := .collection }}
      {{ range .recentPhotos }}
        <div class="column col-4 col-xs-12">
          {{ template "photo_card" . }}
       </div> <!-- column -->
      {{ end }}
    </div>
  </div>
</section>

{{ end }}

