<div *ngIf="collection">
  <p>
    configuration-create works!
  </p>

  <form (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="config.name" placeholder="Name"/>

    <label for="width">Width</label>
    <input type="number" id="width" name="width" [(ngModel)]="config.width" placeholder="Width"/>
    <label for="height">Height</label>
    <input type="number" id="height" name="height" [(ngModel)]="config.height" placeholder="Height"/>
    <label for="quality">Quality</label>
    <input type="number" id="quality" name="quality" [(ngModel)]="config.quality" placeholder="Quality (0-100)"/>

    <button type="submit">
      Save
    </button>
  </form>
</div>
