[submodule "ui-public"]
	path = ui-public
	url = git@github.com:ilikeorangutans/phts-public-ui.git
	branch = master
[submodule "ui-admin"]
	path = ui-admin
	url = git@github.com:ilikeorangutans/phts-admin-ui.git
	branch = master
