<div class="buttons" role="group">
  <button class="button" (click)="shareSiteStore.refresh()">
    Refresh
  </button>
</div>

<div class="columns is-multiline">
  <div class="column  is-4" *ngFor="let site of shareSiteStore.all | async">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{site.domain}}
        </p>
      </header>
      <div class="card-content">
        <p>
          Created {{site.createdAt | date}}
        </p>
      </div>
      <footer class="card-footer">
        <a href="http://{{site.domain}}" target="_blank" class="card-footer-item">Visit</a>
        <a href="#" target="_blank" class="card-footer-item">Shared...</a>
        <a href="#" target="_blank" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
</div>

<form (ngSubmit)="onSubmit()">
  <label for="name">Domain</label>
  <input type="text" id="domain" name="domain" [(ngModel)]="shareSite.domain" placeholder="Domain" />

  <button type="submit">Save</button>
</form>