<p>
  photo-details works!
</p>
{{previewID}}
<div *ngIf="photo">
  <img src="{{renditionURL(preview())}}">

  <p>Published: {{photo.published}} <button (click)="togglePublish()">toggle</button></p>

  <ul>
    <li *ngFor="let rendition of photo.renditions">
      {{configByRendition(rendition).name}}: {{rendition.width}}&times;{{rendition.height}} <a (click)="selectPreview(rendition)">view</a>
    </li>
  </ul>

  <app-photo-share-list [collection]="collection" [photo]="photo"></app-photo-share-list>

  <app-share-photo [photo]="photo" [collection]="collection"></app-share-photo>
</div>
