<div *ngIf="collection">
  <p>
    collection-dashboard {{ collection.id }} {{ collection.name }}
  </p>

  <app-photo-upload [collection]="collection"></app-photo-upload>

  <ul>
    <li *ngFor="let photo of photos">
      {{photo.id}} {{ photo.takenAt}} {{ photo.renditions}}
      <ul>
        <li *ngFor="let rendition of photo.renditions">
          <img src="{{renditionURI(rendition)}}" width="{{rendition.width}}" height="{{rendition.height}}" />
        </li>
      </ul>
    </li>
  </ul>
</div>
