<div class="columns">
  <div class="column is-narrow">
    <div class="buttons">
      <button type="button" class="button is-small">
        Reload
      </button>
      <button type="button" class="button is-small" (click)="toggleOrganizePhotoMode()">
        Organize Photos
      </button>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="buttons" role="group" *ngIf="organizePhotoMode | async">
      <button type="button" class="button is-small" [ngClass]="selection.enabledWhenSelected"
        (click)="selection.deselect()">
        Clear Selection &times; {{selection.selected.length}}
      </button>
      <button type="button" class="button is-small" [ngClass]="selection.enabledWhenSelected"
        (click)="showAlbumDialog()">
        Add to Album
      </button>
      <button type="button" class="button is-small" (click)="delete(selection.selected)"
        [ngClass]="selection.enabledWhenSelected">
        Delete
      </button>
    </div>
  </div>
</div>

<div *ngIf="showAlbumSelector" class="container-fluid mb-2">
  <div class="list-group" *ngIf="albums | async; let albums">
    <button type="button" href="#" (click)="shareSelectionToAlbum(album, selection.selected)"
      class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
      *ngFor="let album of albums">
      {{album.name}}
      <span class="badge badge-secondary badge-pill">{{album.photoCount}}</span>
    </button>
  </div>
</div>

<app-photo-selection #selection></app-photo-selection>

<div class="columns is-multiline">
  <div *ngFor="let photo of photos | async" class="column is-narrow">
    <photo-selectable-container *ngIf="organizePhotoMode | async; else justPhotos" [photo]="photo"
      [selected]="selection.isSelected(photo)" (change)="selection.onPhotoSelect($event)">
      <photo-thumbnail [collection]="collection" [photo]="photo" [renditionConfiguration]="thumbnail"
        (clicked)="onPhotoClicked($event)">
      </photo-thumbnail>
    </photo-selectable-container>
    <ng-template #justPhotos>
      <photo-thumbnail [collection]="collection" [photo]="photo" [renditionConfiguration]="thumbnail"
        (clicked)="onPhotoClicked($event)">
      </photo-thumbnail>
    </ng-template>
  </div>
</div>

<div class="columns">
  <div class="column">
    <button class="button is-info" (click)="loadMore()">
      Load more
    </button>
  </div>
</div>

<app-overlay #overlay>
  <div class="container-fluid" style="background-color: black;">
    <app-photo-viewer [photo]="photo" [collection]="collection"></app-photo-viewer>
  </div>
</app-overlay>