.selected {
  outline: 2px dashed gray;
}

.not-selected {
  border: 2px transparent;
}

.selector {
  position: absolute;
  margin: 9px;
}

.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  font-size: 2rem;
  text-align: center;
}

.circle:hover {
  background-color: white;
  color: black;
}
