<div *ngIf="collection">
  <div>
    <h1 class="title">{{collection.name}}</h1>
    <h2 class="subtitle">Collection</h2>
  </div>

  <div>
    <div class="tabs">
      <ul>
        <li routerLinkActive="is-active">
          <a routerLink="overview">
            Overview
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="photos">
            Photos
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="albums">
            Albums
          </a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="settings">
            Collection Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>