<div *ngIf="collection">
  <div>
    <h1 class="title">{{collection.name}}</h1>
    <h2 class="subtitle">Collection</h2>
  </div>

  <div>
    <div class="tabs">
      <ul>
        <li>
          <a routerLink="overview" class="nav-link" routerLinkActive="is-active">
            Overview
          </a>
        </li>
        <li>
          <a routerLink="photos" class="nav-link" routerLinkActive="is-active">
            Photos
          </a>
        </li>
        <li>
          <a routerLink="albums" class="nav-link" routerLinkActive="is-active">
            Albums
          </a>
        </li>
        <li>
          <a routerLink="settings" class="nav-link" routerLinkActive="is-active">
            Collection Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>