<ng-container *ngIf="collection">

  <app-photo-upload [collection]="collection" (upload)="loadRecentPhotos()"></app-photo-upload>

  <h2>
    {{collection.name}}
  </h2>
</ng-container>

<ul>
  <li *ngFor="let photo of photos">
    <span *ngIf="photo.takenAt">Taken At: {{ photo.takenAt}}</span>
    <span>uploaded at: {{photo.createdAt}}</span>
    <ul>
      <li *ngFor="let rendition of photo.renditions">
        <a [routerLink]="['photos', photo.id]">
          <img src="{{renditionURI(rendition)}}" width="{{rendition.width}}" height="{{rendition.height}}" />
        </a>
      </li>
    </ul>
  </li>
</ul>
