<ng-container *ngIf="collection">

  <app-photo-upload [collection]="collection" (upload)="refreshRecentPhotos()"></app-photo-upload>

  <h2>
    {{collection.name}}
  </h2>

  <div><button (click)="delete()">Delete</button></div>
</ng-container>

<ul>
  <li *ngFor="let photo of photos | async">
    <span *ngIf="photo.takenAt">Taken At: {{ photo.takenAt}}</span>
    <span>uploaded at: {{photo.createdAt}}</span>
    <a [routerLink]="['photos', photo.id]">
      <app-photo-thumbnail [collection]="collection" [photo]="photo" [renditionConfiguration]="previewRendition"></app-photo-thumbnail>
    </a>
  </li>
</ul>
