<div class="card">
  <div class="card-image">
    <figure class="image">

      <photo-thumbnail [class]="'card-img-top'" (clicked)="onPhotoClicked($event)" [collection]="collection"
        [photo]="photo" [renditionConfiguration]="rendition"></photo-thumbnail>
    </figure>
  </div>
  <div class="card-content">
    <p>
      <time *ngIf="photo.takenAt" [attr.datetime]="photo.takenAt">{{ photo.takenAt | date: 'mediumDate'}}</time>
      <time title="uploaded at" [attr.datetime]="photo.createdAt">{{ photo.createdAt | date: 'mediumDate'}}</time>
    </p>
  </div>
  <footer class="card-footer">
    <photo-detail-link class="card-footer-item" [collection]="collection" [photo]="photo">details</photo-detail-link>
  </footer>
</div>