{{ define "photo_card" }}
  <div class="card">
    {{ if .Renditions.NotEmpty }}
      {{ $smallest := .Renditions.Smallest }}
      <div class="card-image">
        <a href="/admin/collections/{{ .Collection.Slug }}/photos/{{ .ID }}">
          <img src="/admin/collections/{{ .Collection.Slug }}/photos/renditions/{{ $smallest.ID }}" class="img-responsive" />
        </a>
      </div>
      <div class="card-body">
        {{ if not .TakenAt }}
        {{ else }}
          <i class="icon icon-time"></i>
          {{ humanizeTime .TakenAt }}
        {{ end }}
        <i class="icon icon-upload"></i>
        {{ humanizeTime $smallest.UpdatedAt }}
        <i class="icon icon-apps"></i>
        <span title="Renditions">{{ .RenditionCount }}<span>
      </div>
    {{ else }}
      No thumbnail yet
    {{ end }}
  </div> <!-- card -->
{{ end }}
