<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <ul class="navbar-nav mr-auto">
    <a routerLink="/admin" class="navbar-brand">phts</a>
    <li *ngFor="let navItem of navItems" class="nav-item">
      <a routerLink="{{navItem.link}}" class="nav-link" routerLinkActive="active">
        {{ navItem.title }}
      </a>
    </li>
  </ul>

  <button (click)="logout()" class="btn btn-danger">Logout</button>
</nav>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
