<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title">Welcome to <em>phts</em></h1>
    <form (ngSubmit)="onSubmit()">
      <h2 class="subtitle">Set Up Your Account</h2>

      <div class="field">
        <label for="email">Email</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" [(ngModel)]="joinRequest.email"
            placeholder="Your Email Address" />
        </div>
      </div>
      <div class="field">
        <label for="name">Name</label>
        <div class="control">
          <input class="input" type="text" id="name" name="name" [(ngModel)]="joinRequest.name"
            placeholder="Your Name" />
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <div class="control">
          <input class="input" type="password" id="password" name="password" [(ngModel)]="joinRequest.password"
            placeholder="Your Password" />
        </div>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" id="confirmPassword" name="confirmPassword"
            [(ngModel)]="joinRequest.confirmPassword" placeholder="Confirm Password" />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit" [attr.disabled]="disabled ? '' : null">
            Join
          </button>
        </div>
      </div>
    </form>
  </div>
</div>