<div class="container">
  <div *ngIf="invitation$ | async as invitation; else loadingOrError">
    <app-form
      (submitted)="onSubmit($event)"
      [invitation]="invitation"
      [disabled]="submitting"
    ></app-form>
  </div>

  <ng-template #loadingOrError>
    <div class="row">
      <ng-container *ngIf="error; else loadingDialog">
        <div class="card fluid error">
          <h2>Error</h2>
          <p>{{ error }}</p>
        </div>
      </ng-container>
      <ng-template #loadingDialog>
        <div class="spinner"></div>
      </ng-template>
    </div>
  </ng-template>
</div>
