
<app-photo-selection #photoSelection (selectedPhotos)="setSelectedPhotos($event)"></app-photo-selection>

<div>
  <button (click)="photoSelection.deselect()" [disabled]="photoSelection.selected.length == 0">Deselect</button>
  <button [disabled]="photoSelection.selected.length == 0">
    Add {{photoSelection.selected.length}} to Album
  </button>
  <app-album-selector [collection]="collection" *ngIf="photoSelection.selected.length > 0" (albumSelected)="shareSelectionToAlbum($event)"></app-album-selector>
  <span *ngIf="photoSelection.selected.length > 0">
    {{photoSelection.selected.length}} photos selected
  </span>
</div>

<ng-container *ngFor="let photo of photos | async; let last = last">
  <span>
    <app-selectable-photo-container [photo]="photo" [selected]="photoSelection.isSelected(photo)" (change)="photoSelection.onPhotoSelect($event)">
      <photo-detail-link [photo]="photo" [collection]="collection">
        <photo-thumbnail [photo]="photo" [collection]="collection" [renditionConfiguration]="thumbnailRendition"></photo-thumbnail>
      </photo-detail-link>
    </app-selectable-photo-container>
  </span>
  <span *ngIf="last">
    <button (click)="loadMore(photo.id, photo.updatedAt)">Load More</button>
  </span>
</ng-container>
