<app-collection-loader (collectionLoaded)="setCollection($event)"></app-collection-loader>

<div *ngIf="photo">
  <div><button (click)="delete()">Delete</button></div>
  <app-photo-thumbnail [collection]="collection" [photo]="photo" [renditionConfiguration]="previewRendition"></app-photo-thumbnail>

  <ul>
    <li *ngFor="let rendition of photo.renditions">
      {{configByRendition(rendition).name}}: {{rendition.width}}&times;{{rendition.height}} <a (click)="selectPreview(rendition.renditionConfigurationID)">view</a>
    </li>
  </ul>

  <collection-photo-share-list [photo]=photo [collection]=collection></collection-photo-share-list>
  <collection-photo-share [photo]=photo [collection]=collection></collection-photo-share>
</div>
