<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}services/internal{{ end }}</title>
  </head>
  <body>
  {{ block "body" . }}
  {{ end }}
  </body>
</html>

