{{ define "title" }}services/internal{{end}}
{{ define "body" }}
	<a href="/services/internal/sessions/destroy">Logout</a>
	<h1>phts services/internal</h1>
        <ul>
          <li>
            <a href="service_users">services/internal users</a>
          </li>
        </ul>
{{ end }}
