{{ define "title" }}services/internal service users{{end}}
{{ define "body" }}
	<a href="/services/internal/sessions/destroy">Logout</a>
	<h1>phts services/internal</h1>
        <h2>service users</h2>
{{ end }}

