<div class="row" *ngIf="share$ | async; let share; else: loading">
  <div class="card fluid" *ngFor="let photo of share.photos">
    <div class="section">
      <figure>
        <img src="{{ photo.renditions[renditionIndex].url }}" alt="photo" />
      </figure>
    </div>
    <div class="section">
      <button *ngFor="let rendition of photo.renditions; let i = index" (click)="switchRendition(i)" [ngClass]="{'primary': i == renditionIndex}">
        {{ rendition.width }}&times;{{ rendition.height }}
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner"></div>
</ng-template>
