<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      phts
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" [ngClass]="navBarClasses" (click)="toggleNav()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="navBarClasses">
    <div class="navbar-start">
      <a *ngFor="let navItem of navItems" routerLink="/{{ navItem.link }}" class="navbar-item"
        routerLinkActive="active">
        {{ navItem.title }}
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button (click)="logout()" class="button is-warning">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <span *ngIf="phtsService.version | async; let version; else: loadingVersion">
      <strong>phts</strong> sha <em><a href="https://github.com/ilikeorangutans/phts/commit/{{version.sha}}">{{ version.sha }}</a></em>, built <em>{{ version.buildTime }}</em>
    </span>
    <ng-template class="version" #loadingVersion>
      <app-spinner></app-spinner>
      retrieving version from server...
    </ng-template>
  </div>
</footer>