{{ define "title" }}services/internal{{end}}
{{ define "main" }}
        <h2>
          Welcome
        </h2>
        <ul>
          <li>
            <a href="service_users">services/internal users</a> manage services/internal users
          </li>
        </ul>
{{ end }}
