<!DOCTYPE html>
{{ define "title" }}services/internal login{{ end }}
{{ define "body" }}
	<form method="POST" action="/services/internal/sessions/create">
	  <label for="email">email</label><input type="email" name="email" id="email">
	  <label for="password">password</label><input type="password" name="password" id="password">
	  <button type="submit">Login</button>
	</form>
{{ end }}

