Hi there,

you've been invited to join phts at {{ .server_url }}. You can create your account at {{.server_url }}/admin/join/{{ .token }}
Your temporary login token is {{ .token }} and your username is {{ .email }}.
