{{ define "title" }}services/internal service users{{end}}
{{ define "main" }}
        <h2>users</h2>

        {{ if .paginator.HasPrev }}
          <a href="?{{ .paginator.Prev.QueryString }}">Previous</a>
        {{ end }}
        Page {{ .paginator.Page }}/{{ .paginator.PageCount }}
        {{ if .paginator.HasNext }}
          <a href="?{{ .paginator.Next.QueryString }}">Next</a>
        {{ end }}
        <table>
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Email
              </th>
              <th>
                Last Login
              </th>
              <th>
                Must Change Password
              </th>
              <th>
                Created At
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
          {{ range .users }}
            <tr>
              <td>
                {{ .ID }}
              </td>
              <td>
                {{ .Email }}
              </td>
              <td>
                {{ if .LastLogin }}
                <abbr title="{{ fullDateTime .LastLogin }}">{{ humanizeTime .LastLogin }}</abbr>
                {{ end }}
              </td>
              <td>
                {{ .MustChangePassword }}
              </td>
              <td>
                <abbr title="{{ fullDateTime .CreatedAt }}">{{ humanizeTime .CreatedAt }}</abbr>
              </td>
              <td>
                <a class="button" href="">Password Reset</a>
                <a class="button" href="">Force Password change</a>
                <a class="button" href="">Disable Login</a>
                <a class="button secondary" href="">Delete</a>
              </td>
            </tr>
          {{ end }}
          </tbody>
        </table>

        <h2>invite user</h2>
        <form action="/services/internal/users/invite" method="post">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
          <button type="submit" class="primary">Invite</button>
        </form>
{{ end }}

