<h1 class="title">
  {{user.email}}
</h1>

<hr />

<h2 class="subtitle">Change Password</h2>

<form (ngSubmit)="onSubmit()">

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="oldPassword">Existing Password</label>
    </div>
    <div class="field-body">
      <div class="control">
        <input type="password" class="input" id="oldPassword" name="oldPassword"
          [(ngModel)]="passwordChangeRequest.oldPassword" placeholder="Existing Password" />
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="password">New Password</label>
    </div>
    <div class="field-body">
      <div class="control">
        <input type="password" class="input" id="password" name="password" [(ngModel)]="passwordChangeRequest.password"
          placeholder="New Password" />
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="passwordConfirm">Confirm Password</label>
    </div>
    <div class="field-body">
      <div class="control">
        <input type="passwordConfirm" class="input" id="passwordConfirm" name="passwordConfirm"
          [(ngModel)]="passwordChangeRequest.passwordConfirm" placeholder="Confirm Password" />
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary" [disabled]="!passwordChangeRequest.match()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>